body {
  padding: 50px;
  background-color: #66CCFF;
  font-family: sans-serif;
}
input {
  margin-top: 5px;
}

button {
  margin-top: 5px;
  margin-bottom: 5px;
}
table {
  margin-top: 5px;
}

td button {
  margin: 3px;
}

th {
  text-align: center;
}
p {
  margin-bottom: 2px;
}
.task_title {
  font-size: 15px;

}
.task_desc {
  font-size: 15px;

}
.task_date {
  font-size: 15px;
  color: #9a9a9a;

}
